.new {
   background-color: #99d68c;
   border-radius: 10px;
   padding: 1rem;
   min-height: 170px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   white-space: pre-wrap;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}