.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.save {
   background-color: #e1e1e1;
   border: none;
   border-radius: 15px;
   padding: 5px 10px 5px 10px;

   &:hover {
      background-color: #ededed;
      cursor: pointer;
   }
}