body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Arial',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas,
      'Courier New', monospace;
}

.dark__mode {
   background-color: black;

   h1 {
      color: white;
   }
}

.container {
   max-width: 960px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;
   min-height: 100vh;
}

textarea {
   border: none;
   resize: none;
   background-color: #99d68c;

   &:focus {
      outline: none;
   }
}